// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
  display: grid;
  @include adaptiveValue("gap", 20, 15);
}
// Спойлер
.spollers__item {
  font-size: toRem(20);
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: pointer;
  text-align: left;
  border-radius: 12px;
  background-color: #ece9df;
  padding-top: toRem(24);
  padding-bottom: toRem(24);
  @include adaptiveValue("padding-left", 30, 20);
  @include adaptiveValue("padding-right", 50, 40);

  font-weight: 400;
  @include adaptiveValue("font-size", 18, 16);
  line-height: 120%;
  text-transform: uppercase;
  color: #383838;

  position: relative;
  list-style: none;
  &::marker {
  }

  ._spoller-init & {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 2px;
      top: toRem(34);
      @include adaptiveValue("right", 20, 10);
      background-color: #242424;
      transition: transform 0.3s ease 0s;
    }
    &::before {
    }
    &::after {
      transform: rotate(90deg);
    }

    &._spoller-active {
      &::after {
        transform: rotate(0);
      }
    }
  }
}
// }
// Контент спойлера
.spollers__body {
  padding: toRem(20);
  border-radius: toRem(12);
  background-color: #ece9df;
  margin-top: toRem(10);

  font-weight: 400;
  @include adaptiveValue("font-size", 20, 18);
  line-height: 120%;
  color: #383838;
}
