// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================

%scrollbar {
  //   & {
  //     scrollbar-width: thin;
  //     scrollbar-color: #c3ff01 #000;
  //   }
  &::-webkit-scrollbar {
    width: 5px; /* ширина всей полосы прокрутки */
  }

  &::-webkit-scrollbar-track {
    background: #000; /* цвет зоны отслеживания */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffbc0f; /* цвет бегунка */
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: toRem(10);

  &.swiper-pagination-lock {
    display: none;
  }

  .swiper-pagination-bullet {
    cursor: pointer;
    border-radius: 50%;
    width: toRem(10);
    height: toRem(10);
    display: block;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: transparent;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: transparent;
  }
}

.navigation {
  display: flex;
  @include adaptiveValue("gap", 20, 10);
  &__button {
    @include adaptiveValue("font-size", 40, 35);
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #ffbc0f;
      }
    }
    .button-prev {
    }

    .button-next {
    }
  }
}

//========================================================================================================================================================
.title {
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: 400;
  @include adaptiveValue("font-size", 60, 30);
  line-height: 100%;
  color: #383838;
}

//========================================================================================================================================================
.section-header {
  &_center {
    text-align: center;

    .section-header__text {
      max-width: none;
    }
  }
  &__title {
    @include adaptiveValue("margin-bottom", 20, 15);
  }

  &__text {
    font-weight: 400;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 130%;
    color: #383838;

    max-width: toRem(1000);

    br {
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }
}
