//====================================================================================================

.footer {
  @include adaptiveValue("padding-top", 50, 40);
  @include adaptiveValue("padding-bottom", 50, 40);
  background-color: #383838;
  color: #f5f5f5;
  &__container {
  }

  &__body {
    display: flex;

    @media (min-width: $mobile) {
      @include adaptiveValue("gap", 230, 40, 0, 1430, 991);
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      gap: toRem(30);
    }
  }

  &__list {
    &:last-child {
      @media (min-width: $mobile) {
        margin-left: auto;
      }
    }
  }

  &__title {
    font-weight: 400;
    font-size: toRem(18);
    line-height: 130%;
    text-transform: uppercase;

    margin-bottom: toRem(20);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  &__link {
    font-weight: 400;
    font-size: toRem(18);
    line-height: 130%;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__social {
  }
}

.social {
  display: flex;
  align-items: center;
  gap: toRem(16);
  &__link {
  }
}

//====================================================================================================
